# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# IDE / Editor
.idea/
.vscode/

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
dist/
*.egg-info/

# Virtual environments
env/
venv/
.venv/

# Secrets
.env

# Documentation & Evals
README.md
evals/
app.json
